@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/LayoutUsuario.cshtml";
}

<main>
    <!--Sección de logo y buscar-->
    <section class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <h1 class="display-4">Buscar puesto</h1>
            <p class="lead">
                Aquí podrás buscar el puesto que tanto estás esperando, puedes probar ingresando el nombre del puesto, tipo de puesto así como también lugar
                nombre de la empresa en la buscas
            </p>
            <input id="myInput"  class="form-control mr-sm-2" type="search" placeholder="Ingresa los datos del puesto" aria-label="Search">
            <br>
            <button class="btn btn-primary my-2 my-sm-0" id="search">Buscar puestos</button>
        </div>
    </section>
    <!--Carousel de puestos-->
    <section>
        <div class="container">
            <h3 class="text-center">Puestos disponibles</h3>
            <hr class="my-4">
            <div id="myDIV">
                @foreach (var item in ViewBag.Puestos)
                {
                    <div class="card w-100 puestoscard">
                        <div class="card-body">
                            <h5 class="card-title">@item.NombrePuesto</h5>
                            <p class="card-text">@item.DescripcionPuesto</p>
                            <a href="/postular/@item.IdPuesto" class="btn btn-primary">Postular</a>
                        </div>
                    </div>
                    <br>
                }
            </div>
        </div>
    </section>
</main>
<script>
    $(document).ready(function () {
        $("#search").on("click", function () {
            $('.puestoscard').hide();
            var txt = $('#myInput').val();
            $('.puestoscard').each(function () {
                if ($(this).text().toUpperCase().indexOf(txt.toUpperCase()) != -1) {
                    $(this).show();
                }
            });

        });
    });
</script>