@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<main>
    <!--Sección de logo y buscar-->
    <section class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <h1 class="display-4">Buscar puesto</h1>
            <p class="lead">
                Aquí podrás buscar el puesto que tanto estás esperando, puedes probar ingresando el nombre del puesto, tipo de puesto así como también lugar
                nombre de la empresa en la buscas
            </p>
            <form>
                <input class="form-control mr-sm-2" type="search" placeholder="Ingresa los datos del puesto" aria-label="Search">
                <br>
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Buscar puestos</button>
            </form>
        </div>
    </section>
    <!--Carousel de puestos-->
    <section>
        <div class="container">
            <h3 class="text-center">Puestos disponibles</h3>
            <hr class="my-4">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title">Junior Software Engineer</h5>
                    <p class="card-text">Buscamos un desarrollador de Software responsable y que le interese automatizar procesos de ventas</p>
                    <a href="#" class="btn btn-primary">Ver postulaciones</a>
                </div>
            </div>
            <br>
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title">Marketing Content Manager</h5>
                    <p class="card-text">Buscamos personal para nuestra área de Marketing capaz de desarrollar y supervisar contenidos para ser publicados en redes sociales</p>
                    <a href="#" class="btn btn-primary">Ver postulaciones</a>
                </div>
            </div>
            <br>
        </div>
    </section>
</main>