@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<main>
    <!--Carousel de puestos-->
    <section>
        <div class="container">
            <br>
            <h3 class="text-center">Mis postulaciones</h3>
            <hr class="my-4">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title">Junior Software Engineer</h5>
                    <p class="card-text">Buscamos un desarrollador de Software responsable y que le interese automatizar procesos de ventas</p>
                    <a href="#" class="btn btn-primary">Ver estado de postulación</a>
                </div>
            </div>
            <br>
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title">Marketing Content Manager</h5>
                    <p class="card-text">Buscamos personal para nuestra área de Marketing capaz de desarrollar y supervisar contenidos para ser publicados en redes sociales</p>
                    <a href="#" class="btn btn-primary">Ver estado de postulación</a>
                </div>
            </div>
            <br>
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title">Marketing Content Manager</h5>
                    <p class="card-text">Buscamos personal para nuestra área de Marketing capaz de desarrollar y supervisar contenidos para ser publicados en redes sociales</p>
                    <a href="#" class="btn btn-primary">Ver estado de postulación</a>
                </div>
            </div>
            <br>
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title">Marketing Content Manager</h5>
                    <p class="card-text">Buscamos personal para nuestra área de Marketing capaz de desarrollar y supervisar contenidos para ser publicados en redes sociales</p>
                    <a href="#" class="btn btn-primary">Ver estado de postulación</a>
                </div>
            </div>
            <br>
        </div>
    </section>
</main>