@model Chamba.Models.Usuario
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/LayoutOthers.cshtml";

}

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
        <section class="jumbotron jumbotron-fluid">
            <h1 class="display-4 text-center">Registro - Usuario</h1>
            <br>
            <div class="container">
                <form action="/registroUsuario" method="post"> 
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Nombres</label>
                            <input type="text" asp-for="NombresUsuario" class="form-control" id="inputAddress" placeholder="John">
                            <span asp-validation-for="NombresUsuario" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Apellidos</label>
                            <input type="text" asp-for="ApellidosUsuario" class="form-control" id="inputAddress" placeholder="Doe">
                            <span asp-validation-for="ApellidosUsuario" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Carrera-Estudios</label>
                            <input type="text" asp-for="EstudiosUsuario" class="form-control" id="inputAddress" placeholder="Doe">
                            <span asp-validation-for="EstudiosUsuario" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Correo</label>
                            <input type="text" class="form-control" asp-for="CorreoUsuario" id="inputAddress" placeholder="johndoe@example.com">
                            <span asp-validation-for="CorreoUsuario" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Contraseña</label>
                            <input type="password" class="form-control" id="contrasenaField" name="contrasenaField" placeholder="Contraseña">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputAddress">Apodo</label>
                            <input type="text" class="form-control" asp-for="ApodoUsuario" id="inputAddress" placeholder="johndoe123">
                            <span asp-validation-for="ApodoUsuario" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState">Sexo</label>
                            <select id="inputState" class="form-control" asp-for="SexoUsuario">
                                <option selected>Seleccionar...</option>
                                <option value="M">Masculino</option>
                                <option value="F">Femenino</option>
                                <option value="O">Otro</option>
                            </select>
                            <span asp-validation-for="SexoUsuario" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputState">Fecha de nacimiento</label>
                            <input type="date" id="fechaNac" name="nacimiento" asp-for="FNacUsuario">
                            <span asp-validation-for="FNacUsuario" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Biografía</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" asp-for="BiografiaUsuario" placeholder="Algo sobre mí"></textarea>
                        <span asp-validation-for="BiografiaUsuario" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="inputGroupFile02" asp-for="FotoPerfilUsuario">
                        <span asp-validation-for="FotoPerfilUsuario" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </form>
            </div>
        </section>
    </main>
</div>